<div class="main-content">
  <div class="banner-short d-inline-block w-100 position-relative">
    <img src="../../assets/images/outadv-bnr-dtls.jpg" alt="" class="w-100"/>
    <p class="d-inline-block w-50 m-auto text-center position-absolute text-uppercase bnr-txt-sml">Hiking</p>
  </div>
  <div class="brdcmp d-inline-block w-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brdcmp-cntnt">
            <a class="d-block float-left" routerLink="/Home"><span class="d-block float-left mr-3">Home</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="d-block float-left"><span class="d-block float-left mr-3">Things To Do</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="d-block float-left"><span class="d-block float-left mr-3" routerLink="/Outdooradventure">Outdoor Adventure</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="d-block float-left"><span class="d-block float-left mr-3 brdcmp-mn-mnu">Outdoor Adventure Details</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-sec d-block w-100 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="titl-sec d-block w-100">
            <span class="d-block w-100 text-uppercase mb-5">Explore Outdoor Adventure</span>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-slde-sec">
            <div class="container1">
              <img id="expandedImg" style="width:100%" src="../../assets/images/Cabin-lst-1.jpg">
              <div id="imgtext"></div>
            </div>

            <div class="row">
              <div class="column focus">
                <img src="../../assets/images/Cabin-lst-1.jpg" alt="Nature" style="width:100%" onclick="myFunction(this);">
              </div>
              <div class="column">
                <img src="../../assets/images/Cabin-lst-2.jpg" alt="Snow" style="width:100%" onclick="myFunction(this);">
              </div>
              <div class="column">
                <img src="../../assets/images/Cabin-lst-3.jpg" alt="Mountains" style="width:100%" onclick="myFunction(this);">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 mt-2">
          <div class="totl-cntnt-insde">
            <span class="d-inline-block w-auto text-uppercase fnt-titl mb-4">The Hiking</span>
            <p>Hiking is a long, vigorous walk, usually on trails or footpaths in the countryside. Walking for pleasure developed in Europe during the eighteenth century.
            </p>
            <p class="d-inline-block w-100 mb-4">Religious pilgrimages have existed much longer but they involve walking long distances for a spiritual purpose associated with specific religions.</p>
            <div class="d-block w-100 float-left mb-4 pb-2">
              <span class="d-block w-100 rteTxt mb-2 list-itms"><i class="fa fa-check" aria-hidden="true"></i>Weather-appropriate clothing (think moisture-wicking and layers)</span>
              <span class="d-block w-100 rteTxt mb-2 list-itms"><i class="fa fa-check" aria-hidden="true"></i>Navigation tools such as a map and compass.</span>
              <span class="d-block w-100 rteTxt mb-2 list-itms"><i class="fa fa-check" aria-hidden="true"></i>Hiking boots or shoes.</span>
              <span class="d-block w-100 rteTxt mb-2 list-itms"><i class="fa fa-check" aria-hidden="true"></i>First-aid kit. </span>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map d-inline-block w-100 text-center mt-5 pt-4">
        <div class="d-inline-block w-100 mb-2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51823.28687293532!2d-83.53303604722011!3d35.72731465604845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885953eacb08a589%3A0x4ab1d7ae7eb779a8!2sGatlinburg%2C%20TN%2037738%2C%20USA!5e0!3m2!1sen!2sin!4v1649661880592!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
  </div>

</div>
