
<div class="navbar-mn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="topbar pt-12 pb-1 d-inline-block w-100">
          <div class="d-block float-left bg-white rpsocl-icn mt-1">
            <a href="Https://Facebook.com/ghosalluxurylodging" target="_blank"><i class="fa fa-facebook fb" aria-hidden="true"></i></a>
            <a href="https://instagram.com/ghosalluxurylodging" target="_blank"><i class="fa fa-instagram insta" aria-hidden="true"></i></a>
          </div>
          <div class="d-block float-left bg-white rsplogo-img-sec">
            <a href="#"><img src="assets/images/logo.png" alt="Ghosal" class="rsplogo-img"></a>
          </div>
          <div class="d-block float-right bg-white bkngNoti Rspbknw">
            <a routerLink="/cabins" class="btn-bknowtop">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mnubr">
        <li class="nav-item pr-5 mr-4" routerLinkActive="active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item pr-5 mr-4" routerLinkActive="active">
          <div class="dropdown">
            <a class="nav-link" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Cabins</span>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" routerLink="/cabins">2 Bedrooms</a>
              <a class="dropdown-item" routerLink="/cabins">3 Bedrooms</a>
              <a class="dropdown-item" routerLink="/cabins">4 Bedrooms</a>
              <a class="dropdown-item" routerLink="/cabins">7 Bedrooms</a>
              <a class="dropdown-item" routerLink="/cabins">12 Bedrooms</a>
            </div>
          </div>
        </li>

        <a href="#" class="pl-2 pr-5 mr-4 ml-3">
          <img src="assets/images/logo.png" alt="Ghosal" class="logo-img">
        </a>
        <li class="nav-item" routerLinkActive="active">
          <div class="dropdown">
            <a class="nav-link" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Things To Do</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" routerLink="/Outdooradventure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Outdoor Adventure</a>
              <a class="dropdown-item" routerLink="/Eatanddrink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Eat and Drink</a>
              <a class="dropdown-item" routerLink="/entertainment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Entertainment</a>
            </div> -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" href="https://www.gatlinburg.com/things-to-do/" target="_blank">Outdoor Adventure</a>
              <a class="dropdown-item" href="https://www.gatlinburg.com/things-to-do/" target="_blank">Eat and Drink</a>
              <a class="dropdown-item" href="https://www.gatlinburg.com/things-to-do/" target="_blank">Entertainment</a>
            </div>
          </div>
        </li>
        <li class="nav-item pl-5 ml-4" routerLinkActive="active">
          <a class="nav-link"  routerLink="/contact" tabindex="-1">Contact Us</a>
        </li>
      </ul>
      <div class="d-block float-right bg-white bkngNoti rspbknow-mnu">
        <a routerLink="/cabins" class="btn-bknowtop">Book Now</a>
      </div>
    </div>
  </nav>
</div>
