<!-- Footer Top -->
<div class="ftr-top mt-1 text-centerpdng d-block w-100">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="d-inline-block w-100 text-white txt">
          <!-- We wish you a warm welcome to Ghosal Luxury Lodging, your perfect getaway spot. -->
          We wish you a warm welcome to Ghosal luxury properties, your perfect getaway spot.
        </span>
			</div>
		</div>
	</div>
</div>

<!-- Footer  -->
<footer class="ftr text-left pdng d-block w-100 pdng">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="#"> <img src="assets/images/logo.png" alt="Ghosal" class="ftr-img" /></a>
			</div>
			<div class="col-md-2 mt-3">
				<div class="ftr-mnu d-inline-block w-100">
					<a routerLink="/sitemap" class="d-block w-100 pb-2"> Site Map </a>
					<!-- <a routerLink="/faq" class="d-block w-100 pb-2"> Faq </a> -->
				</div>
			</div>
			<div class="col-md-3 mt-3 rspftr">
				<div class="ftr-mnu d-inline-block w-100">
					<a href="javascript:void(0);" class="d-block w-100 pb-2"> Privacy Policy </a>
					<a href="javascript:void(0);" class="d-block w-100 pb-2"> Terms & Conditions </a>
				</div>
			</div>
      		<div class="col-md-4 mt-3 rspftr">
				<div class="ftr-mnu d-inline-block w-100">
					<!-- <a href="javascript:void(0);" class="d-block w-100 pb-2"> Call or Text Us! (423) 708-4316 </a> -->
					<a href="mailto:info@sojournlodging.us" class="d-block w-100 pb-2"> info@sojournlodging.us </a>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="ftr-btm text-center pdng d-block w-100 pt-3 pb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="text-white">
          Copyright &copy; Ghosal’s Properties LLC 2022 - All Rights Reserved

        </span>
			</div>
		</div>
	</div>
</div>
