<div class="main-content">
  <div class="banner-short d-inline-block w-100 position-relative">
    <img src="assets/images/contact-bnr.jpg" alt="" class="w-100"/>
    <p class="d-inline-block w-50 m-auto text-center position-absolute text-uppercase bnr-txt-sml">contact us</p>
  </div>
  <div class="brdcmp d-inline-block w-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brdcmp-cntnt">
            <a class="d-block float-left" routerLink="/Home"><span class="d-block float-left mr-3">Home</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="d-block float-left"><span class="d-block float-left mr-3 brdcmp-mn-mnu">Contact Us</span></a>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div class="content-sec d-block w-100 pt-5 mb-4 cntct-sec-mn">
    <div class="container">
      <div class="row">
        <div class="titl-sec d-block w-100 text-center mb-5">
          <span class="d-block w-100 text-uppercase">Connect with us</span>
        </div>
        <div class="cntct d-inline-block w-100 position-relative mt-5 mb-5 pb-4">
          <div class="lft-dv col-xl-7 col-md-12 pl-0">
            <img src="assets/images/cnt-img-lft.jpg" alt="Ghosal" class="position-relative"/>
          </div>
          <div class="rgt-dv col-xl-5 col-md-12 mt-1">
            <p>
              <span class="text-uppercase">Ghosal Properties</span>
              Ghosal Properties was established back in 2011 with a main focus to build luxury properties around the country. Anjan Ghosal, our founder, is a well-traveled family man who strives for perfection in every facet of his life. He has visited over 100 different countries around the world and in doing so he discovered each country has their own definition of luxury. This sparked an idea to incorporate the different luxuries from around the globe into modern cabins. His hope was for the people staying at his lodges to experience what it’s like to live lavishly throughout the world, without traveling it </p>
            <!-- <div class="call mt-4 mb-3">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>9876543210 <b>|</b> 9876543211 </span>
            </div> -->
            <div class="ml">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span><a href="mailto:info@sojournlodging.us"> info@sojournlodging.us </a> </span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

</div>
