<div class="main-content">
  <div class="banner-short d-inline-block w-100 position-relative">
    <img src="../../assets/images/eat-drnk-brn.jpg" alt="" class="w-100"/>
    <p class="d-inline-block w-50 m-auto text-center position-absolute text-uppercase bnr-txt-sml">Eat and drink</p>
  </div>
  <div class="brdcmp d-inline-block w-100 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brdcmp-cntnt">
            <a class="d-block float-left" routerLink="/Home"><span class="d-block float-left mr-3">Home</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="d-block float-left" routerLink="/cabins"><span class="d-block float-left mr-3">Things To Do</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="d-block float-left"><span class="d-block float-left mr-3 brdcmp-mn-mnu">Eat and Drink</span></a>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div class="content-sec d-block w-100 pt-5 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-4">
          <div class="titl-sec d-block w-100">
            <span class="d-block w-100 text-uppercase">Explore our eat and Drink facilities</span>
          </div>
          <p class="d-inline-block w-100 text-center pt-3 pb-4 prgph">
            Food is any substance consumed to provide nutritional support for an organism. Food is usually of plant, animal, or fungal origin, and contains essential nutrients, such as
carbohydrates, fats, proteins, vitamins, or minerals. The substance is ingested by an
organism and assimilated by the organism's cells to provide energy,
maintain life, or stimulate growth.
          </p>
        </div>
          <div class="tb-img-sec">
          <div class="col-xs-12 col-md-6 col-xl-4 float-left pr-0 mb-3" routerLink="/Eatanddrinkdetails">
            <div class="card">
              <img class="card-img-top" src="../../assets/images/et-drnk1.jpg" alt="Card image">
              <div class="card-img-overlay text-center">
                <h4 class="card-title text-uppercase mb-0">Breakfast</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 col-xl-4 float-left pr-0 mb-3" routerLink="/Eatanddrinkdetails">
            <div class="card">
              <img class="card-img-top" src="../../assets/images/et-drnk2.jpg" alt="Card image">
              <div class="card-img-overlay text-center">
                <h4 class="card-title text-uppercase mb-0">drinks</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 col-xl-4 float-left pr-0 mb-3" routerLink="/Eatanddrinkdetails">
            <div class="card">
              <img class="card-img-top" src="../../assets/images/et-drnk3.jpg" alt="Card image">
              <div class="card-img-overlay text-center">
                <h4 class="card-title text-uppercase mb-0">elevenses</h4>
              </div>
            </div>
          </div>
            <div class="col-xs-12 col-md-6 col-xl-4 float-left pr-0 mb-3" routerLink="/Eatanddrinkdetails">
              <div class="card">
                <img class="card-img-top" src="../../assets/images/et-drnk4.jpg" alt="Card image">
                <div class="card-img-overlay text-center">
                  <h4 class="card-title text-uppercase mb-0">lunch</h4>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6 col-xl-4 float-left pr-0 mb-3" routerLink="/Eatanddrinkdetails">
              <div class="card">
                <img class="card-img-top" src="../../assets/images/et-drnk5.jpg" alt="Card image">
                <div class="card-img-overlay text-center">
                  <h4 class="card-title text-uppercase mb-0">supper</h4>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6 col-xl-4 float-left pr-0 mb-3" routerLink="/Eatanddrinkdetails">
              <div class="card">
                <img class="card-img-top" src="../../assets/images/et-drnk6.jpg" alt="Card image">
                <div class="card-img-overlay text-center">
                  <h4 class="card-title text-uppercase mb-0">dinner</h4>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>

</div>
